{% extends 'base.html.twig' %}

{% block title %}Messaging index{% endblock %}

{% block body %}
    <h1>Messaging index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>State</th>
                <th>Archives</th>
                <th>Object</th>
                <th>Message</th>
                <th>MessageDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for messaging in messagings %}
            <tr>
                <td>{{ messaging.id }}</td>
                <td>{{ messaging.state ? 'Yes' : 'No' }}</td>
                <td>{{ messaging.archives ? 'Yes' : 'No' }}</td>
                <td>{{ messaging.object }}</td>
                <td>{{ messaging.message }}</td>
                <td>{{ messaging.messageDate ? messaging.messageDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('messaging_show', {'id': messaging.id}) }}">show</a>
                    <a href="{{ path('messaging_edit', {'id': messaging.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('messaging_new') }}">Create new</a>
{% endblock %}
